<!-- /recipes/_form -->

<%= form_for [user, recipe] do |f| %>
  <div class="form-group">
    <%= f.label :name, "Recipe Title:" %>
    <%= f.text_field :name, class: "form-control", required: true, placeholder: "What's the title of your recipe?" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Recipe Description:" %>
    <%= f.text_area :description, class: "form-control", required: true, placeholder: "Tell us about your recipe." %>
  </div>

  <!-- Category -->
  <div class="form-group">
    <%= f.label :category_id, "Category:" %>
    <%= f.collection_select :category_ids, categories, :id, :name, {prompt: 'Choose a category'}, {:required => true}%>
    <!-- Todo: Setup different type of category records (i.e. Cuisine, Dish type, Occassion). Add a dropdown menu for user to select each category type. -->
    <!-- Remove code below as this should only be setup by adminstrator. -->
    <%#= f.fields_for :categories, recipe.categories.build(category_type: "meal") do |category_builder| %>
      <%#= f.label :category_id, "or" %>
      <%#= category_builder.text_field :name, placeholder: 'enter a new category' %>
      <%#= category_builder.hidden_field :category_type %>
    <%# end %>
  </div>

  <!-- Yields -->
  <div class="form-group">
      <%= f.label :yields, "This recipe" %>
      <%= f.select :yields, options_for_select([ "Serves", "Makes" ]), selected: "Serves" %>
      <%= f.text_field :yields_size, required: true %>
  </div>

  <!-- Prep and cook time -->
  <div class="form-group">
      <%= f.label :prep_time, "Prep Time (hrs:min):" %>
      <%= f.time_select :prep_time, {minute_step: 5, default: { hour: '0', minute: '0'}}, min: "00:00", max: "24:00", ignore_date: true %>
  </div>

  <div class="form-group">
      <%= f.label :cook_time, "Cook Time (hrs:min):" %>
      <%= f.time_select :cook_time, {minute_step: 5, default: { hour: '0', minute: '0'}}, min: "00:00", max: "24:00", ignore_date: true %>
  </div>

  <!-- Recipe Ingredients nested form -->
  Ingredients:
  <div class="form-group">
    <div class="recipe_ingredients">
      <!-- sort_recipe_ingredients by id in ascending order for edit action -->
      <%= f.fields_for :recipe_ingredients, sort_recipe_ingredients(recipe, f.object.id) do |ri_builder| %>
        <%# raise ri_builder.inspect %>
        <%= render partial: 'recipe_ingredient_fields', locals: { f: ri_builder } %>
      <% end %>
    </div>
    <div class="links">
      <%= link_to_add_association '+ add an ingredient', f, :recipe_ingredients, data: { association_insertion_node: '.recipe_ingredients', association_insertion_method: :append } %>
    </div>
  </div>

  <!-- Instructions nested form -->
  <div class="form-group">
    Instructions:
    <div class="instructions">
      <!-- sort_instructions by id in ascending order for edit action -->
      <%= f.fields_for :instructions, sort_instructions(recipe, f.object.id) do |instruction_builder| %>
      <%#= f.fields_for :instructions, (recipe.ordered_instructions.order("id ASC") if f.object.id) do |instruction_builder| %>
        <%# raise instruction_builder.inspect %>
        <%= render partial: 'instruction_fields', locals: { f: instruction_builder } %>
      <% end %>
    </div>
    <div class="links">
      <%= link_to_add_association '+ add instruction', f, :instructions, data: { association_insertion_node: '.instructions', association_insertion_method: :append } %>
    </div>
  </div>

  <% if recipe.image.attached? %>
    <div class="text-left">
      <%= image_tag recipe.image, class: "img-thumbnail", style: "max-height: 100px; max-width: 100px;" %>
    </div>
  <% end %>

  <!-- Image and other flags -->
  <div class="form-group">
    <%= f.label :image, "Upload recipe image:" %>
    <%= f.file_field :image, accept: "image/gif, image/png, image/jpg, image/jpeg", class: "form-control-file" %>
  </div>

  <div class="form-check">
    <%= f.check_box :private, class: "form-check-input" %>
    <%= f.label :private, "Check for Private Recipe" %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
