<!-- /recipes/_recipe -->

<!-- Card -->
<div class="card">
  <!--Card image-->
  <% if current_user == recipe.user %>
    <%= link_to image_tag(recipe.image, class: "card-img-top"), user_recipe_path(current_user, recipe) %>
  <% else %>
    <%= link_to image_tag(recipe.image, class: "card-img-top"), recipe_path(recipe) %>
  <% end %>

  <!--Card body -->
  <div class="card-body">
    <p class="card-text"><small class="text-muted">by <%= link_to recipe.user.name.titleize, user_path(recipe.user) %></small></p>
    <h4 class="card-title"><%= recipe.name %></h4>
    <p class="card-text"><%= recipe.description %></p>
  </div> <!-- Card body -->
</div> <!-- Card -->
