<!-- /recipes/show -->

<div class="container">
  <div class="text-center">
    <h1><%= @recipe.name %></h1>
    <%= image_tag @recipe.image.variant(combine_options: { resize: "500x400", extent: "500x400", background: "grey", gravity: "center"}) %>
    <p><%= @recipe.description %></p>
  </div>

  <p><strong>Yields:</strong> <%= @recipe.yields %> <%= @recipe.yields_size %></p>
  <p><strong>Prep time:</strong> <%= @recipe.prep_time.strftime("%H hrs %M min") %></p>
  <p><strong>Cook time:</strong> <%= @recipe.cook_time.strftime("%H hrs %M min") %></p>

  <!-- Ingredients -->
  <!-- display in ascending id order -->
  <h5>Ingredients:</h5>
  <% @recipe_ingredients.reverse_each do |recipe_ingredient| %>
    <p><strong><%= recipe_ingredient.quantity %></strong> <%= recipe_ingredient.measurement.try(:unit) %> <%= recipe_ingredient.ingredient.name %> <%= recipe_ingredient.description %></p>
  <% end %>

  <!-- Instrucations -->
  <!-- display in ascending id order -->
  <h5>Instructions:</h5>
  <% @instructions.reverse_each.with_index do |instruction, i| %>
    <p> <%= i+1 %> <%= instruction.description %></p>
  <% end %>

  <div class="text-center">
    <% if current_user == @recipe.user %>
      <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: 'btn btn-primary' %>
      <%= link_to "Delete Recipe", @recipe, method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div> <!-- Container -->
