<!-- /recipes/show -->

<div class="container">
  <div class="text-center">
    <h1><%= @recipe.name.titleize %></h1>
    <%= image_tag @recipe.image.variant(combine_options: { resize: "400x300", extent: "400x300", background: "grey", gravity: "center"}) %>
    <p class="card-text"><small class="text-muted">by <%= link_to @recipe.user.name.titleize, user_path(@recipe.user) %> | <%= @recipe.created_at.strftime("%b %e, %Y") %> | <%= pluralize(@recipe.reviews.size, 'Review') %></br>category <%= link_to @recipe.categories[0].name.titleize, category_path(@recipe.categories[0]) %></small></p>
    <hr>
    <p><%= @recipe.description %></p>
  </div>

  <p><strong>Yields:</strong> <%= @recipe.yields %> <%= @recipe.yields_size %></p>
  <p><strong>Prep time:</strong> <%= @recipe.prep_time.strftime("%H hrs %M min") %></p>
  <p><strong>Cook time:</strong> <%= @recipe.cook_time.strftime("%H hrs %M min") %></p>

  <!-- Ingredients -->
  <h5>Ingredients:</h5>
  <% @recipe_ingredients.each do |recipe_ingredient| %>
    <p><strong><%= recipe_ingredient.quantity %></strong> <%= recipe_ingredient.measurement.try(:unit) %> <%= recipe_ingredient.ingredient.name %> <%= recipe_ingredient.description %></p>
  <% end %>

  <!-- Instrucations -->
  <h5>Instructions:</h5>
  <% @instructions.each.with_index do |instruction, i| %>
    <p> <%= i+1 %>. <%= instruction.description %></p>
  <% end %>

  <hr>

  <div class="text-center">
    <%= link_to_recipe_actions(@recipe) %>
  </div>
  
  <div class="container-fluids">
    <% if @reviews.exists?  %>
      <p class="text-center card-text"><small class="text-muted"><%= pluralize(@reviews.total_count, 'Review') %> | <%= @recipe.rating_average %> / <%= pluralize(@reviews.total_count, 'rating') %></small></p>
      <!-- Card columns -->
      <div class="card-columns">
        <%= render partial: 'reviews/review', collection: @reviews %>
      </div> <!-- Card columns -->
      <%= paginate @reviews, window: 2 %>
    <% end %>
  </div> <!-- Container -->

</div> <!-- Container -->
