{{!-- /recipes/index --}}

<div class="container-fluids">
  <p class="text-center card-text"><small class="text-muted">{{recipes.length}} Recipes</small></p>
  <div class="card-columns">
    {{#each recipes}}
      <div class="card">
        <a href="/recipes/{{id}}"><img class="card-img-top" src="{{image}}"></a>
        <div class="card-body">
          <p class="card-text"><small class="text-muted">by <a href="/users/{{user_id}}">{{name}}</a></small></p>
          <h4 class="card-title"><a href="/recipes/{{id}}">{{name}}</a></h4>
          <p class="card-text">{{description}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
