{{!-- /recipes/show --}}

{{#debug}} {{/debug}}

<div class="container">
  <div class="text-center">
    <h1>{{recipe.name}}</h1>
    <img height="156" width="182" src="{{recipe.image}}">
    <p class="card-text"><small class="text-muted">by
    <a href="/api/users/{{recipe.user_id}}/recipes", class="my_recipes">{{recipe.user.name}}</a>
    | {{recipe.created_at}}
    | {{recipe.reviews.length}} Reviews
    </br>category <a href="/categories/{{recipe.category_id}}">{{recipe.category_name}}</a>
    </small></p>
    <hr>
    <p>{{recipe.description}}</p>
  </div>

  <p><strong>Yields:</strong> {{recipe.yields}} {{recipe.yields_size}}</p>
  <p><strong>Prep time:</strong> {{recipe.prep_time}}</p>
  <p><strong>Cook time:</strong> {{recipe.cook_time}}</p>

  {{!-- Ingredients --}}
  <h5>Ingredients:</h5>
  {{#each recipe.recipe_ingredients}}
    <p><strong>{{quantity}}</strong> {{measurement.unit}}
      {{ingredient.name}} {{description}}</p>
  {{/each}}
  
  {{!-- Instructions --}}
  <h5>Instructions:</h5>
  {{#each recipe.instructions}}
    <p> {{counter @index}}. {{description}}</p>
  {{/each}}

  <hr>

{{!-------------  Show Recipe Action Buttons -------------}}
  <div class="text-center">
    {{#ifEquals current_user.id recipe.user.id}}
      <a class="btn btn-primary" href="/users/{{recipe.user.id}}/recipes/{{recipe.id}}/edit">Edit Recipe</a> 
      <a data-confirm="Are you sure you want to delete this recipe?" class="btn btn-danger" rel="nofollow"data-method="delete" href="/users/{{recipe.user.id}}/recipes/{{recipe.id}}">Delete Recipe</a>
    {{else}}
      {{#addReviewButton recipe current_user}} {{/addReviewButton}}
      <a data-confirm="Are you sure you want to clone this recipe?" class="btn btn-primary" rel="nofollow" data-method="post" href="/recipes/{{recipe.id}}/copy">Clone Recipe</a>
    {{/ifEquals}}
  </div>
</div> {{!-- Container --}}

{{!-------------  Reviews -------------}}
<div class="container-fluids">
  <p class="text-center card-text"><small class="text-muted">{{recipe.reviews.length}} Reviews | {{#avgRating recipe}}
      {{/avgRating}} / {{recipe.reviews.length}} ratings</small></p>
  <!-- Card columns -->
  <div class="card-columns">
    {{#each recipe.reviews}}
      {{!-- Card --}}
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><a href="/api/users/{{user_id}}/recipes", class="my_recipes"><img class="rounded-circle"
              style="max-height: 35px; max-width: 35px;" src="{{reviewer.avatar}}"></a><strong>
            <a href="/api/users/{{user_id}}/recipes", class="my_recipes">{{reviewer.name}}</a></strong>
        </div><!-- Card header -->
        <div class="card-body">
          <p class="card-text"><small class="text-muted">Feb 21, 2019</small></p>
          <p class="card-text">Rating: {{rating}} / 5</p>
          <p class="card-text">{{comment}}.</p>
        </div> <!-- Card body -->
      </div> <!-- Card -->
    {{/each}}
  </div> <!-- Card -->
</div> <!-- Card columns -->
</div>